.container {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: #fff0f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  text-align: center;
}

form input textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #d63384;
  border-radius: 5px;
}

button {
  background: #d63384;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #f07d7d;

}

.success-message {
  padding:  20px;
  background:  #d4edda;
  color: #155724;
  border-radius: 5px;
}